<!DOCTYPE HTML>
<html>
  <head>
    
    <meta charset="utf-8" />
    <title>Team Name</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <header>TEAM NAME</header>
    <h1>
      Login Screen
    </h1>
    <label for = "User-Text">User ID</label>
    <input type = "text" id = "User-Text"><br>
     <label for = "User-Password">User Password</label>
    <input type = "text" id = "User-Password"><br>
    <button type = "button">commit</button>

    
  
<footer>
   </footer>
  </body>
</html>
